body {
  background:url("https://image.ibb.co/b6fQGS/canstockphoto40712325.jpg")
}

.bio-image {
  border-height: 400px;
  border-width: 400px;
  border-radius: 50%;
  margin: 0 auto;
  padding-left: 100px;
}

.text-left {
font-family: Josefin Sans;
color: #;
}

.text-center {
font-family: Josefin Sans;
color: #435adb;
font-size: 54pt;
}

.btn-primary {
  font-family: Josefin Sans;
}

h3 {
  margin: 25px 50px 25px 25px;
}

.bg-warning {
  border-radius: 20%;
}

 .about {
  padding-right: 50px;
}

.linksbox{
  margin-top: 10px;
  border: 1.5px solid #d5dde0;
    border-radius: 8px;
   background-color:#435adb;
}



    







